name: Build Secura Cloud Image

on:
  workflow_dispatch:
  push:
    tags:
      - master
env:
  GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
  SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
  SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
jobs:
  build:
    name: "Build Secura Cloud Image "
    if: "!contains(github.ref, '-dev')"
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
      - name: get-npm-version
        id: package-version
        uses: martinbeentjes/npm-get-version-action@v1.3.1
        with:
          path: .
      - uses: docker/setup-qemu-action@v3

      - uses: docker/setup-buildx-action@v3
        with:
          buildkitd-flags: --debug

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/build-push-action@v5
        with:
          context: .
          file: src-cloud/Dockerfile
          platforms: linux/amd64
          push: true
          tags: |
            ghcr.io/xyzjesper/secura-cloud:${{ github.run_id }}
            ghcr.io/xyzjesper/secura-cloud:latest